html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #fefff9 url(../i/bg.jpg) 0 0 repeat-y;
    min-height: 200px;
    color: #000;
    font: normal 12px arial, sans-serif
}

body.auth {
    background: #ffffff
}

body.start {
    background: #1c72a3 url(../i/start-bg.png) 0 0 repeat-x;
    padding: 79px 0 0 0;
}

img, a {
    border: none
}

.nobr {
    white-space: nowrap
}

.acenter {
    text-align: center
}

.fl {
    float: left
}

.fr {
    float: right
}

.box {
    overflow: hidden;
    zoom: 1
}

.pr {
    position: relative
}

.pa {
    position: absolute
}

.db {
    display: block;
}

.dib {
    display: inline-block;
}

.dn {
    display: none
}

.clear:after {
    clear: both;
    content: " ";
    display: block;
    height: 0;
    visibility: hidden;
}

.clear {
    zoom: 1;
}

.all {
    min-height: 40%;
    position: relative;
    width: 100%;
    background: url(../i/bg-2-2.jpg) 0 100% no-repeat;
    min-width: 1200px
}

.auth .all {
    background: none
}

.container {
    overflow-x: hidden;
    background: url(../i/bg-3.jpg) 0 220px no-repeat
}

.auth .container {
    background: none
}

.outer {
    height: 1%;
    padding-top: 1px;
}

.inner {
    height: 1%;
    margin: 215px 0 0 0;
    padding: 20px 0 120px;
    z-index: 10;
    position: relative
}

.lMenu {
    width: 250px;
    overflow: hidden;
    margin-right: 20px;
    min-height: 100px;
    padding-top: 10px
}

.contentBox {
    padding-right: 20px
}

.top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 215px;
    border-bottom: 1px solid #1b0464;
    background: repeat-x scroll 0 0 linear-gradient(45deg, #1b0464, #0b5d77);
;
}

.auth .top {
    height: 110px
}

a.topLogo {
    width: 120px;
    padding-left: 48px;
    padding-top: 3px;
    background: url(../i/logo.png) 0 0 no-repeat;
    color: #fff;
    font-size: 11px;
    margin: 6px 0 0 25px;
    text-decoration: none
}

.topLogo span, .topAdm span {
    display: block;
    padding: 5px 18px 0 0;
    height: 45px;
    background: url(../i/v-line.png) 100% 3px no-repeat;
}

a.topAdm {
    width: 153px;
    padding-top: 3px;
    padding-left: 48px;
    background: url(../i/samara.png) 0 0 no-repeat;
    color: #fff;
    font-size: 11px;
    margin: 6px 15px 0 25px;
    text-decoration: none
}

.title {
    margin: 20px 10px 0 0
}

.exit {
    background: url(../i/exit.png) 0 0 no-repeat;
    width: 97px;
    height: 28px;
    margin: 16px 25px 0 0
}

.arj {
    color: #fff;
    margin: 16px 22px 0 0;
    padding: 9px 0 0 12px;
    height: 22px;
    background: url(../i/p.png) 0 0 no-repeat
}

.footer {
    background: url("../i/start-bg.png") repeat-x scroll 0 0 #1C72A3;
    height: 50px;
    bottom: 0;
    position: absolute;
    right: 0;
    z-index: 20;
    width: 100%;
    font-size: 13px;
    color: #525252
}

.footer a {
    color: #0142e7
}

.dev {
    margin: 10px 17px;
    padding: 7px 0 7px 14px;
    border-left: 1px solid #afb9c8
}

.bBorder {
    margin: 10px;
    padding: 7px 14px 7px 0;
    border-right: 1px solid #afb9c8
}

.fUser {
    margin-left: 25px;
    margin-right: 0
}

.loginMsg {
    width: 300px;
    margin: 0 auto;
}

.authForm {
    background: linear-gradient(45deg, #1b0464, #0b5d77);
    width: 320px;
    height: 200px;
    padding: 20px;
    color: #4d4d4d;
    margin: 0 auto;
    border: 1px solid #1b0464;
    border-radius: 10px 10px 10px 10px;
}

.authFormInner {
    margin: 10px 20px 10px 20px
}

.txtWrap {
    background: url(../i/txt-wrap2.png) 0 100% no-repeat;
    padding: 0 4px;
    margin: 0 auto 5px auto;
    height: 46px;
    width: 248px
}

.lbl {
    display: block;
    margin-bottom: 5px;
    color: #fff
}

.txtWrap input {
    width: 240px;
    padding: 1px 0px;
    outline: none
}

.checkboxWrap {
    padding: 0 0 3px 60px;
    background: url(../i/checkbox.png) 63px 3px no-repeat
}

.checkboxWrap span {
    display: inline-block;
    vertical-align: baseline;
    margin-left: 5px;
    margin-top: -2px
}

.checkboxWrap input {
    background: none;
    border: none;
}

.enter {
    border: none;
    display: block;
    width: 106px;
    height: 32px;
    background: url(../i/enter2.png) 0 0 no-repeat;
    cursor: pointer;
    float: right;
    margin-right: 20px;
    /*position: absolute;*/
    /*right: 10px;*/
    /*bottom: 10px*/
}

.errMsg {
    position: absolute;
    /*top: 159px;*/
    bottom: 60px;
    left: 55px;
    padding-left: 42px;
    color: #fff;
}

.errMsg img {
    position: absolute;
    top: 0;
    left: 0;
}

.startHead {
    width: 1094px;
    height: 65px;
    margin: 0 auto 78px auto;
}

.innerHead {
    margin: 0 18px 0 18px;
    height: 83px;
    padding-bottom: 17px
}

.startHeadGover, .startHeadAdm {
    text-decoration: none;
    color: #fff;
    font: normal 12px, arial, sans-serif;
    display: block;
    position: absolute;
    height: 50px
}

.startHeadGover {
    padding: 25px 10px 15px 95px;
    width: 155px;
    background: url(../icon/logo.png) 0 0 no-repeat;
    background-size: 90px;
    top: 0;
    left: 6px;
    right: 10px;
    font-size: 30px;
}

.innerHead .startHeadGover {
    top: 10px
}

.startHeadAdm {
    padding: 15px 10px 15px 12px;
    left: 200px
}

.innerHead .startHeadAdm {
    top: 19px
}

.startHeadTitle {
    position: absolute;
    top: -8px;
    left: 400px
}

.start .startHeadTitle {
    left: 285px
}

.innerHead .startHeadTitle {
    top: 15px
}

.startHeadDelem2, .startHeadDelem1 {
    position: absolute;
    width: 1px;
    overflow: hidden;
    background: #fff;
    height: 64px;
    top: 0;
}

.innerHead .startHeadDelem2, .innerHead .startHeadDelem1 {
    top: 19px
}

.startHeadDelem1 {
    left: 250px
}

.startHeadDelem2 {
    left: 380px;
}

.start  .startHeadDelem2 {
    left: 385px
}

a.startHeadExit {
    float: right;
    width: 79px;
    height: 32px;
    background: url(../i/start/exit.png) 0 0 no-repeat;
}

a.startHeadPerson {
    float: right;
    color: #69e5ff;
    font-size: 12px;
    margin-right: 6px;
    padding-top: 6px
}

.startHeadSearch {
    display: block;
    width: 218px;
    height: 25px;
    background: url(../i/start/search.png) 0 0 no-repeat;
    border: none;
    padding: 5px 26px 5px 5px
}

.startHeadText {
    width: 210px;
    border: none;
    background: none
}

.startHeadSubmit {
    cursor: pointer;
    display: block;
    width: 24px;
    height: 26px;
    position: absolute;
    top: 2px;
    right: 3px;
    border: none;
    background: none
}

.startBody {
    width: 1094px;
    margin: 0 auto 91px auto
}

.scrollLeft, .scrollRight {
    position: absolute;
    top: 373px;
    width: 25px;
    height: 35px;
    cursor: pointer
}

.scrollLeft {
    left: -44px;
    background: url(../i/start/left.png) 0 -82px no-repeat
}

.scrollRight {
    right: -40px;
    background: url(../i/start/right.png) 0 -82px no-repeat
}

.notActive {
    cursor: default;
    background-position: 0 0;
}

.boxX {
    overflow-x: hidden;
    zoom: 1
}

.colorBlocksWrap {
    border: 1px solid #145980;
    width: 1090px
}

.yellowBlock {
    background: url(../i/start/yellow.png) 0 0 no-repeat;
    width: 218px;
    height: 195px;
    position: relative;
    float: left;
    margin: 0
}

.grayBlock {
    background: url(../i/start/gray.png) 0 0 no-repeat;
    width: 218px;
    height: 194px;
    position: relative;
    float: left;
    margin: 0;
}

.startBottom {
    margin: 0 auto 91px auto;
    width: 1094px;
    height: 33px;
    border: 1px solid #145980;
    background: #ebeff2
}

.innertBottom {
    margin: 0;
    height: 33px;
    border-bottom: 1px solid #165c84;
    background: #ebeff2 url(../i/footer.jpg) 0 0 repeat-x
}

.startBottomPerson {
    width: 50%;
    color: #747474
}

.startBottomPersonDept {
    padding: 8px 15px 0 15px;
    border-left: 1px solid #fff;
    height: 25px
}

.startBottomPersonName {
    font-weight: bold;
    padding: 8px 15px 0 15px;
}

.startBottomImg {
    padding-left: 5px;
    padding-top: 5px;
}

.footer .startBottomImg {
    padding-left: 25px
}

.startBottomImgDiv {
    margin-right: 30px
}

.startRed, .startRedEpmty {
    color: #fff;
    width: 30px;
    height: 31px;
    background: url(../i/start/icons/bg-red.png) 0 0 no-repeat;
    position: absolute;
    left: 18px;
    top: 10px;
    font-weight: bold;
}

.startRedEpmty {
    background-image: url(../i/start/icons/bg-red-empty.png);
    color: #525151
}

.startRed div, .startRedEpmty div {
    padding: 8px 0 0 0
}

.startHeadInfo {
    width: 340px;
}

.innerHead .startHeadInfo {
    margin-top: 19px;
}

a.grayBlockLink {
    width: 218px;
    height: 194px;
    display: block;
    position: relative;
    color: #58595b;
    text-decoration: none;
    font-size: 13px;
}

.grayBlockLinkSpan {
    display: block;
    padding-left: 73px;
    padding-right: 50px;
    padding-top: 96px;
}

.grayBlockLinkImgSpan {
    display: block;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 96px;
    text-align: center
}

.grayBlockLinkImgSpan img {
    margin: 0;
}

a.yellowWrapLinkDiv {
    height: 195px;
    width: 218px;
    position: relative;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: #2f6688;
    font: bold 13px arial, sans-serif;
}

.top a.yellowWrapLinkDiv {
    height: 58px
}

.top .yellowBlock {
    width: 20%;
    height: 58px;
    background: #f2c24b url("../i/start/yellow.png") 100% -20px no-repeat;
}

.top a.yellowWrapLinkDiv {
    width: 100%
}

.yellowWrapLinkDivWrapSpan {
    width: 100%;
    position: absolute;
    left: 0;
    top: 105px;
    text-align: center
}

.top .yellowWrapLinkDivWrapSpan {
    top: 19px
}

.linkText {
    text-align: left
}

.top .linkText {
    position: absolute;
    left: 75px;
    top: 0px
}

.top .yellowBlock1 .linkText, .top .yellowBlock5 .linkText {
    top: -5px
}

.linkDown {
    width: 18px;
    height: 11px;
    background: url(../i/start/down.png) 0 0 no-repeat;
    vertical-align: top;
    margin-left: 15px
}

.top .linkDown {
    position: absolute;
    top: 0px;
    right: 10px
}

.yellowWrapLinkDivImg {
    position: absolute;
    left: 0;
    bottom: 103px;
    width: 100%;
    text-align: center
}

.top .yellowWrapLinkDivImg {
    width: auto;
    left: 20px;
    bottom: 3px;
}

.yellowWrapLinkDivImg img {
    margin: 0;
}

.yellowBlockSubNavigation {
    position: absolute;
    top: 190px;
    left: 0;
    width: 219px;
    z-index: 5;
}

.yellowBlockSubNavigationTop {
    height: 12px;
    background: url(../i/start/bg-popup2.png) 0 0 no-repeat;
}

.yellowBlockSubNavigationInner {
    background: url(../i/start/bg-popup.png) 0 0 repeat-y;
    padding: 25px 25px 12px 25px
}

.yellowBlockSubNavigationInner a {
    display: block;
    margin-bottom: 8px;
    text-decoration: none;
    color: #58595b;
    padding: 2px 0 2px 18px;
    background: url(../i/start/y-b-link.png) 0 5px no-repeat
}

.yellowBlockSubNavigationInner a:hover {
    color: #1c72a3;
    background-position: -292px 5px
}

.topMenu {
    border-bottom: 1px solid #165c84;
    border-top: 1px solid #165c84
}

.innerContentMenu {
    height: 34px;
    background: url(../i/content-top.jpg) 0 0 repeat-x;
    width: 100%;
    position: absolute;
    left: 0;
    top: -29px
}

.innerContentMenuWrap {
    background: url(../i/menu_bg_3.png) 100% 0 no-repeat
}

.innerContentMenuOuter {
    height: 34px;
    background: url(../i/menu_bg_2.png) 0 0 no-repeat;
    padding-left: 28px;
    font-size: 13px
}

a.menuLnk {
    text-decoration: none;
    color: #5f5f5f;
    vertical-align: middle;
    margin-right: 35px;
    margin-top: 2px
}

a.menuLnk img, a.menuLnk span {
    vertical-align: middle;
}

a.menuLnk img {
    margin-right: 7px
}

a.menuLnk span {
    padding-top: 3px
}

.leftMenuLnk {
    position: relative;
    margin: 0 13px 15px 13px;
    padding: 6px 0 5px 48px;
    text-decoration: none;
    font-size: 11px;
    font-weight: bold;
    color: #5f5f5f;
}

.leftMenuLnkImg {
    position: absolute;
    left: 0;
    top: 0
}

.oCodeLink {
    width: 214px;
    height: 54px;
    color: #FFFFFF;
    float: left;
    height: 54px;
    margin-top: 19px;
    margin-left: 0;
    text-decoration: none;
    background: url(../i/start/o-code.png) 0 0 no-repeat
}

.headAdditionalMenu {
    color: #fff;
    position: absolute;
    left: 20px;
    bottom: 35px;
    font-size: 11px
}

.auth .headAdditionalMenu {
    bottom: 10px
}

.headAdditionalMenu a {
    color: #fff;
    text-decoration: none
}


/*from cas.css*/
/* content */
#cas #content { padding: 10px; overflow: hidden; }
#cas #content #msg { padding: 20px; margin-bottom: 10px; }
#cas #content #msg h2 { font-size: 1.4em; margin-bottom: 0.5em; }
#cas #content #msg.errors { border: 1px dotted #BB0000; color: #BB0000; padding-left: 100px; background: url(../images/error.gif) no-repeat 20px center; }
#cas #content #msg.success { border: 1px dotted #390; color: #390; padding-left: 100px; background: url(../images/confirm.gif) no-repeat 20px center; }
#cas #content #msg.info { border: 1px dotted #008; color: #008; padding-left: 100px; background: url(../images/info.gif) no-repeat 20px center; }
